{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set collection = page.collection() %}
{% set blog = page.find(header_var('blog_url')|defined(theme_var('blog-page'))) %}
{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% block stylesheets %}
    {% do assets.addCss('theme://css/bricklayer.css') %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.add('theme://js/bricklayer.min.js') %}
    {% do assets.add('theme://js/scopedQuerySelectorShim.min.js') %}
{% endblock %}


{% block hero %}At the current stage of the [OpenDoTT project](https://is.efeefe.me/opendott), I am working on design concepts that respond to data collected in this first year of work - through two design research studies, literature review, as well as previous projects I was involved with.

My investigation is focused on *smart cities* with a strong emphasis on environmental and social issues, as well as sovereignty and ownership. I am directing my attention in particular to waste management. In fact, I want to contribute with solutions to avoid as much as possible the very need to manage waste in the usual manners, encouraging instead the *reuse of materials* in cities and towns through initiatives of *repair and repurposing* aimed at and run by *local actors*.

At the time of publishing this page (August 2020), I have sketched eight concept ideas, listed below and further detailed in individual pages. This list and its contents will expand or contract as my research evolves, but the rolling history of changes is kept in this website's [git repository](https://github.com/efeefe/is/tree/master/pages/concepts).

**Web/App/Database**

- [Universal Registry of Things](universal-registry-things)
- [Point and reuse](point-reuse)
- [Save this Thing](save-this-thing)

**Visibility**

- [Make Waste Visible](make-waste-visible)
- [Data on Reuse](data-reuse)

**City/Town and Reuse**

- [Reuse Bin](reuse-bin)
- [Transformation Lab](transformation-lab)
- [Reuse Commons](reuse-commons)

These are attempts to respond to issues and insights identified while exploring the idea of *waste avoidance* in cities and towns, and how that can broadly relate to smart city projects.

Right now I am expecting to gather feedback on those concepts in order to verify their relevance and prioritise further phases of development.

---

<div class='europe'>
		<img src="https://sites.dundee.ac.uk/opendott/wp-content/uploads/sites/107/2018/10/flag_yellow_low.jpg" align="left" width="100px" alt='EU Flag' style="padding-right:10px" /> This project has received funding from the European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 813508.
</div>

    {% include '../partials/hero.html.twig' with {id: 'blog-hero', content: page.content, hero_image: blog_image} %}
{% endblock %}

{% block body %}
    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include '../partials/breadcrumbs.html.twig' %}
        {% endif %}

        {% embed '../partials/layout.html.twig' with {blog: page} %}
            {% block item %}

                <div class="bricklayer">
                {% for child in collection %}
                    {% include '../partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                {% endfor %}
                </div>

                {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include '../partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                {% endif %}

            {% endblock %}

            {% block sidebar %}
                {% include '../partials/sidebar.html.twig' %}
            {% endblock %}
        {% endembed %}
        </section>
    </section>
    <script>
        //Bricklayer
        var bricklayer = new Bricklayer(document.querySelector('.bricklayer'))
    </script>
{% endblock %}
