<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p><a href="https://is.efeefe.me" title="This website">This site</a> was made with <a href="http://getgrav.org" title="GRAV CMS">GRAV</a> and is hosted in <a href="https://subutai.io">Subutai's P2P Cloud</a>.</p>
        <p>The source code of all contents, plugins and themes is open in <a href="https://github.com/efeefe/is/" title="GitHub repo">this repository</a>.</p>
    </section>
</section>
