{% set year = 'now'|date('Y') %}
{% set copyright = theme_var('copyright.text') %}
{% if copyright is not empty %}
<!-- Footer -->
<footer id="footer">
    <div class="copyright">{{ year }}
    <strong>
	CC-BY Felipe Schmidt Fonseca
    </strong>
    </div>
</footer>
{% endif %}
